#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

html, body {
  margin: 0;       /* elimina márgenes por defecto */
  padding: 0;
  width: 100%;    /* 100% del viewport */
  min-height: 100vh;
  box-sizing: border-box; /* importante para que padding y border no rompan ancho */
}

button.especial {
  background-color: #3A4E70;
  color: #BBBAC6;
  font-size: clamp(14px, 1vw + 1vh, 20px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  outline: none;
  transition: all 0.1s ease;
  transform: translateY(0);
}

button.especial2 {
  background-color: #fc6f03;
  color: black;
  font-size: clamp(14px, 1vw + 1vh, 20px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  outline: none;
  transition: all 0.1s ease;
  transform: translateY(0);
}

button:active {
  transform: translateY(2px);
}

hr {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 13vh;
  border: 2px solid #BBBAC6;
  box-shadow: 0 2px 5px rgba(187, 186, 198);
}
