.texto {
  
  font-family: Comic Sans MS;
  font-size: clamp(2vw, 0.25vw + 0.25vh, 2vh);
  text-align: center;
  margin: 0;
  color: black; 
}

.poliERP {
  width: clamp(10vw, 13vw, 20vw);
  height: clamp(10vh, 13vh, 20vh);
  border-radius: 50px;
  margin-top: 40px; 
  background-color: #fc6f03;
}

.poliERP:hover {
  border-color: transparent;
  transform: perspective(500px) translateZ(45px);
}

.poliERP:active {
  border-color: transparent;
}

.poliERP:focus,
.poliERP:focus-visible {
  outline: none;
}

.beneficios {
  height: clamp(10vh, 25vh, 30vh);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 2rem;
  width: clamp(10vw, 97vw, 97vw);
}
.beneficio-card {
  background-color: #2C302E;
  padding: 20px;
  border-radius: 15px;
  color: white;
  text-align: center;
  transition: transform 0.3s ease;
  font-size: clamp(0.8vw, 0.25vw + 0.25vh, 1vh);

}

.beneficio-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}


